/* Paletas de cores */
.theme-blue {
    --bs-body-bg: #e7f0fd;
    --bs-body-color: #0d3c61;
}

.theme-red {
    --bs-body-bg: #ffeaea;
    --bs-body-color: #811515;
}

.theme-green {
    --bs-body-bg: #e7fdee;
    --bs-body-color: #0d6137;
}

.theme-dark {
    --bs-body-bg: #121212;
    --bs-body-color: #ffffff;
}

.theme-light {
    --bs-body-bg: #ffffff;
    --bs-body-color: #212529;
}

/* Aplicando variáveis */
body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}