@media (max-width: 575.98px) {
    .hidden-sm {
        display: none !important;
    }
}

/* Hide on medium devices */
@media (min-width: 576px) and (max-width: 767.98px) {
    .hidden-md {
        display: none !important;
    }
}

/* Hide on large devices */
@media (min-width: 768px) and (max-width: 991.98px) {
    .hidden-lg {
        display: none !important;
    }
}

/* Hide on extra large devices */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .hidden-xl {
        display: none !important;
    }
}

/* Hide on extra extra large devices */
@media (min-width: 1200px) {
    .hidden-xxl {
        display: none !important;
    }
}

/* Paleta de cores */
.bg-1 {
    background-color: #050505;
}

.color-1 {
    color: #050505;
}

.bg-2 {
    background-color: #231f38;
}

.color-2 {
    color: #231f38;
}

.bg-3 {
    background-color: #432657;
}

.color-3 {
    color: #432657;
}

.bg-4 {
    background-color: #572078;
}

.color-4 {
    color: #572078;
}

.bg-5 {
    background-color: #5c4786;
}

.color-5 {
    color: #5c4786;
}

.bg-6 {
    background-color: #6268aa;
}

.color-6 {
    color: #6268aa;
}

.bg-7 {
    background-color: #87aada;
}

.color-7 {
    color: #87aada;
}

.bg-8 {
    background-color: #ba75aa;
}

.color-8 {
    color: #ba75aa;
}

.bg-9 {
    background-color: #d59ec3;
}

.color-9 {
    color: #d59ec3;
}

.bg-10 {
    background-color: #c28989;
}

.color-10 {
    color: #c28989;
}

.bg-12 {
    background-color: #D1BEB1;
}

.color-12 {
    color: #D1BEB1;
}

.bg-13 {
    background-color: #cbbdb1;
}

.color-13 {
    color: #cbbdb1;
}


